.DS_Store
.git
.idea
.vscode

docs/
node_modules/
public/
src/
test/

.env
.editorconfig
.eslintignore
.eslintrc.json
eslint.config.mjs
nest-cli.json
package-lock.json
tsconfig.build.json
tsconfig.json
